<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">


  <title>Secrets make friends</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


  <!-- <img id="inputimg" src="https://i.imgur.com/krtfaaG.png?1"> -->
 <div id="logincontainer">
  <nav>
    <% if (user) { %>


      <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>

          <a href="secrets/new">HOME</a>
  </nav>

<div id="landing">

  <h1>Secrets Make Friends</h1>
  <p id="mission">Welcome to Secrets Make friends. A place where our juciest tea brings us together.
    Login to start spilling tea and making friendz.<br>☺︎</p>
 
 <div id="agreement">
   
    <ul>
    
      <li>USER AGREEMENT:</li>
      <li>no racial slurs</li>
      <li>no threats</li>
      <li>no hate crimes</li>
      <li>no spamming</li>
      <li>Must be 18+</li>
    </ul>
    <h3>if you break these terms you are subject to be banned</h3>

</div>



  <p id="data">Data Disclosure: all user data collected upon login does not include personal identifiers</p>

</div>
</div>
</body>

</html>