html {
  height: 100%;
}

body {
  background: linear-gradient(rgb(227, 86, 240),pink);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(140, 140, 140);
  margin:0;
 
}

nav {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: auto;
  justify-content:space-evenly;
  z-index: 1;
  width: 90%;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  background-color:rgb(222, 255, 5);

}

nav > a {
  margin: auto;
  color: rgb(43, 48, 48);
  text-decoration: none;
  font-size: 18px;
 }

nav > a:hover {
  color: rgb(135, 135, 135);
}


#new-container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 75%;
  margin:auto;
  padding-top: 3.5vh;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
}

#new {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 10vh;


}

#new-text {
  margin-left: 3vh;
  margin-top: 10vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#new-title {
  color: rgb(2, 2, 140);
  font-size: 20px;
  border-bottom: .5px solid rgb(255, 98, 0);
}
#new-greeting {
  font-size: 18px;
  color: grey;
}
#secret-form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 88%;
  height: 38vh;
  background: linear-gradient(rgb(198, 244, 237),rgb(189, 189, 249));
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-size: 15px;
  border-radius: 32px;
  padding: 2vh;
  
  
  
}

#tea {
 font-family: 'Montserrat', sans-serif;
  height: 5vh;
  width: 100%;
  border:none;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: rgb(125, 117, 245);
  font-size: 3vh;
  color: rgb(255, 255, 255);
  margin: 1vw auto;
  border-radius: 30px;
}



::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}


::-webkit-scrollbar-thumb {
  background: rgb(254, 173, 173);
  border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 255, 5);
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1;
  padding: 1vh; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(0, 96, 97);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(0, 96, 97);
}
