body {
  background-image: url('https://i.imgur.com/9NiXKv0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(184,197,250);
 
  
}

nav {
  color: #ff7a7a;
  margin: 0 0 10vh 0; 
 font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  justify-content: center;
  z-index: 1;
 
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: rgba(255, 255, 255, 0.295);

  border-radius: 20px;
}

nav > a {
  color: rgb(0, 0, 0);
 font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 2.5vw;
  padding: 1vh 1vh 1vh 1vh;
}


header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  height: 70vh;
  width: 80%;
  color: #f32f60;
  margin: -20px auto;
 font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  
  z-index: 1;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: rgba(1, 172, 121, 0);
  padding: 0 5vh 0 5vh;
  border-radius: 20px;
}

/* section {
  display: grid;
  margin: 10vh 10vh 10vh 10vh;
  position: relative;
  grid-template-columns: 50% 50%;
  justify-content: center;
  grid-template-rows: 1fr;
  gap: 3px;
  height: 100vh;
} */





form {
  margin: -30vh 0 0 10vw;
  
  grid-column: 1;
  grid-row: 3;


  
  
  width: 41vh;
}

#tea {
 font-family: 'Montserrat', sans-serif;
  height: 5vh;
  width: 50%;;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: #ffffff;
  font-size: 3vh;
  color: rgb(0, 0, 0);
  margin: 1vw auto;
  
  
}

h1 {
  grid-row: 1;
  grid-column: 1;
  color: rgb(0, 0, 0);
  margin: auto;
  font-size: 5vw;

}


h2 {
  grid-row: 2;
  grid-column: 1;
  color:rgb(255, 255, 255);
  margin: -3vh auto;
  
  font-size: 2vw;
  
}

#submissions {
  grid-column: 1;
  grid-row: 3;
  margin: auto;
}

#secretsbutt {
  margin: auto;
  height: 10vh;
  width: 10s%;
  border: 2px solid white;
  background-color: #0ac5bc;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  color: white;
  
}

#secretsbutt:active {
  width: 19.5vh;
  height: 9.5vh;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.164);
  
}

.login img {
  height: 30px;
}

#secretsid {
  color: rgb(255, 255, 255);
  font-size: 4vh;
  list-style: none;
}

li {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3vh 0 0 0;
  padding: 1vh 1vh 1vh 1vh;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  width: 75vw;
  height: 15vh;
  
  font-family: 'Montserrat', sans-serif;
  border: none;
  box-shadow: inset 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  font-size: 3vh;
  grid-column: 1;
  grid-row: 3;
}

p {
  font-size: 1.5vh;
  text-align: left;
  width: 80%;
  margin: 1vh 0 0 2vh;
  font-family: 'Montserrat', sans-serif;
}

label {
  font-size: 2vw;
  color: rgb(0, 0, 0);
  display: block;
  margin: 2vh auto;
  background-color: rgba(252, 252, 252, 0);
  border-radius: 20px;
  width: 80%;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.342);
  padding: 1vh 0 0 1vh;
  font-family: 'Montserrat', sans-serif;
}
 #secrethead {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: -5vh;
  width: 90%;
  border-radius: 20px;
 }

 #thesecret {
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-size: 2.5vw;
 }

 #user{
   color: rgb(0, 0, 0);
 }

 #postdetails {
   font-size: 1.25vw;;
 }