body {
  background-image: url('https://i.imgur.com/9NiXKv0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(184,197,250);
}

nav {
  color: #000000;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: rgba(255, 255, 255, 0.208);
  border-radius: 20px;

}

nav > a {
  margin: 1vw;
  position: relative;
  color: rgb(2, 2, 2);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  
  white-space: nowrap;
}



header {
  width: 80%;
  display: block;
  color: #000000db;
  margin: 3vh auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  z-index: 1;
  /* box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: rgba(1, 172, 121, 0); */
  padding: 2vh 5vh 5vh 5vh;
  border-radius: 20px;
}
h1 {
    display: block;
  
    font-size: 4vw;
}

#commentwrapper {
    position: block;
  
  margin: auto;
 
  font-family: 'Montserrat', sans-serif;
  width: 70%;
}


form {
  display: block;
  margin: auto;
 
  
}

textarea {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  box-shadow: inset 0 4px 11px 1px rgba(0, 0, 0, 0.219);
  border: none;
  
}

h2 {
  font-size: 2vh;
  text-align: center;
}

#time {
  font-size: 1.5vw;
 color: rgb(0, 0, 0);
  margin: auto;
  text-align: center;

}

img {
  width: 60%;
}

p {
  font-size: 1.5vh;
  padding: 0.5vh 0.5vh 0.5vh 0.5vh;
  font-family: 'Montserrat', sans-serif;
}

#post {
  background-color: rgba(247, 0, 255, 0.527);
  border: none;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.308);
  padding: 1vh 1vh 1vh 1vh;
  font-family: 'Montserrat', sans-serif;
}

#delete {
  background-color: rgb(250, 250, 250);
  border: none;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.308);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vh;
}

label {
  display: block;
  margin: 2vh 0 0 0;
  font-size: 2.5vw;
  
}

span {
  color: rgb(55, 0, 255);
  font-size: 1.5vh;
}

li {
  background-color: rgba(255, 255, 255, 0);
  list-style: none;
  padding: 2vh 2vh 2vh 2vh;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.295);
  margin: 0 0 2vh 0;
  font-size: 3vh;
  border-radius: 20px;
}

input {
  width: 40vw;
  border: none;
  margin: 0 0 2vh 0;
  box-shadow: inset 0 4px 11px 1px rgba(0, 0, 0, 0.226);
  font-family: 'Montserrat', sans-serif;
}

#secretdetail {
  float: right;
  margin: 0 0 0 0;
  
}

@media (max-width: 649px) {
  nav > a {
  }
}
@media (max-width: 549) {
  nav > a {
    font-size: 0.25rem;
  }
}
