html {
  height: 100%;
}
  
body {
  background: linear-gradient(rgb(227, 86, 240),pink);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(184,197,250);
  margin:0;
}

nav {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: auto;
  justify-content:space-evenly;
  z-index: 1;
  width: 90%;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  background-color:rgb(222, 255, 5);
  
  }
  
nav > a {
  margin: auto;
  color: rgb(43, 48, 48);
  text-decoration: none;
  font-size: 18px;
}
  
nav > a:hover {
  color: rgb(140, 140, 140);
}

#all-secrets-container{
  background-color: white;
  height: 100%;
  width: 75%;
  margin:auto;
  padding-top: 3.5vh;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  font-family: 'Inter', sans-serif;
  padding-bottom: 10vh;
}

#submission-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}   
    
#submission {
  border-top: 1px rgb(234, 5, 255) solid;
  border-bottom: 1px rgb(234, 5, 255) solid;
  margin: 2vh auto;
  font-size: 2vw;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;

}

#secrethead {
  color:rgb(138, 138, 138);
  text-align: center;
  margin-top: 3vw;
  font-size: 2.5vw;
  border-radius: 20px;
  font-family: helvetica;
  font-weight: 400;
}

#user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-family:helvetica;
  font-weight: 200;
}


  
#secret {
  color: rgb(0, 0, 0);
  font-size: 2.5vw;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3vh;
  padding: 1.5vh;
  font-family: helvetica;
}

#secret:hover {
  background: linear-gradient(rgb(198, 244, 237),rgb(189, 189, 249));
  border-radius: 30px;
  color: rgb(4, 4, 4);
}

#secret-link {
  text-decoration:none;
}
   

#user{
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: .5vh;
}

#user:hover {
  background-color: rgb(172, 172, 172);
  border-radius: 25px;
  color: white;
}
  
#postdetails {
  font-size: 1.25vw;
  margin: 3vh;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 98, 0) ;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 255, 5);
}