html {
  height: 100%;
}

body {
  background: linear-gradient(rgb(227, 86, 240),pink);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(140, 140, 140);
  margin:0;
  font-family: helvetica;
 
}

nav {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: auto;
  justify-content:space-evenly;
  z-index: 1;
  width: 90%;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  background-color:rgb(222, 255, 5);

}

nav > a {
  margin: auto;
  color: rgb(43, 48, 48);
  text-decoration: none;
  font-size: 18px;
 }

nav > a:hover {
  color: rgb(135, 135, 135);
}

#profile-container{
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 75%;
  margin:auto;
  padding-top: 3.5vh;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);

}
#profile-section {
  width: 95%;
  margin:auto;
  display: flex;
  justify-content:center;
  flex-direction: column;

}

#user-name{
  text-align:center;
  font-size: 2.5vh;
  color: grey;
  margin-top: 2.5vh;
  font-weight: 400;

}
#top-section {
  display:flex;
  flex-direction: row;
  justify-content: center;
  height: 23vh;
  width: 100%;
}

#profile-photo {
 
  margin: auto;
  max-width: 40%;
  height: 20vh;
}

#secrets-container {
  width: 55%;
  overflow-y:scroll;
  height:20vh;
  margin: auto;
  border: 1px red solid;
}

#user-secrets {
  font-size: 2vh;
  text-align: center;
  background-color: rgb(0, 111, 109);
  color: rgb(255, 255, 255);
}

#secret {
  text-decoration: none;
  color:black;
  margin: 1vh auto;
  font-size: 2vh;
  text-align: center;
  font-weight: 200;
}


#secret:hover {
  background-color:rgba(226, 106, 106, 0.338);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  
}
form {
  display: flex;
  flex-direction: row;
  width: 100%;
 

  margin-bottom: 2vh;
}
#comment-form {
  width: 69%;
  height: 2.5vh;
  background: linear-gradient(rgb(198, 244, 237),rgb(189, 189, 249));
  border: none;
  font-size: 15px;
  border-radius: 40px;
  margin: auto;
  padding: 2vh;
  font-family: helvetica;
  
}

#post-comment {
  background-color: rgb(125, 117, 245);
  border: none;
  height: 6vh;
  width: 28%;
  margin: 1vh;
  border-radius:30px;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.308);

}

#post-comment:active {
  transform: scale(0.95);
}

#comment-container {
  border-top: 1px rgb(234, 5, 255) solid;
  margin: 1vh auto;
  width: 100%;
  border-bottom:1px rgb(234, 5, 255) solid;

}

#user-comment {
  font-size: 12px;
  color: black;
}

















::placeholder {
color: black;
text-align: left;


}



::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}


::-webkit-scrollbar-thumb {
  background: rgb(222, 255, 5);
  border-radius: 20px;
}



