html {
  height: 100%;
}

body {
  background: linear-gradient(rgb(227, 86, 240),pink);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(184,197,250);
  margin:0;
}

#index-container {
  background-color: white;
  height: 100%;
  width: 75%;
  margin:auto;
  padding-top: 3.5vh;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  font-family: 'Inter', sans-serif;
 }

nav {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: auto;
  justify-content:space-evenly;
  z-index: 1;
  width: 90%;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color:rgb(222, 255, 5);
  border-radius: 30px;
}

nav > a {
  margin: auto;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
 }

nav > a:hover {
color: rgb(255, 255, 255);
}

.login img {
  height: 1vw;
}


#landing {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  padding-bottom: 15vh;
  padding-top: 5vh;
}

#info-text {
  margin: 5vh;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

#title, #mission {
 width: 70%;
}

#title {
  color: rgb(2, 2, 140);
}

#mission {
  color: grey;
}
#disclaimers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align:center;
}

#agreement {
  margin-top: 5vh;
  width: 70%;

}
#agreement-header {
  font-size: 15px;
  text-align: center;
  padding-bottom: 1vh;
  border-bottom:1px rgb(255, 98, 0) solid;
  width: 50%;
  margin: auto;
  color:rgb(150, 150, 247);
}

#agreement-list {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3vh;
  padding-bottom: 1vh;
  border-bottom:1px rgb(255, 98, 0) solid;
  width: 50%;
  margin: auto;
}

#rules {
  text-align: center;
  margin: auto;
}

#rules-end {
  font-size: 12px;
  width: 50%;
  margin: 1.5vh auto;
  color:rgb(12, 116, 120);
}

#data {
  width: 60%;
  font-size: 12px;
}

@media (max-width:850px) {
  #index-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #landing {
    flex-direction: column;
    margin: auto;
    padding-bottom: 5vh;
  }

  #info-text {
    margin: auto;
    width: 100%;
  }

  #disclaimers {
  margin: 2vh auto;
 }
  
  #agreement{
   margin: 2vh auto;
    width: 100%;
  }
}




::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(254, 173, 173);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 255, 5);
}
