body {
  background-image: url('https://i.imgur.com/9NiXKv0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  border-radius: 50%;
  height: 20vh;
  display: block;
  margin: 10vw auto;
}

header {
  display: block;
  color: #000000;
  margin-top: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  text-align: center;
  z-index: 1;
 box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459); 
  background-color: rgba(44, 212, 148, 0);
  padding: 0 5vh 0 5vh;
  border-radius: 20px;
}

a {
  color: black;
  font-family: 'Montserrat', sans-serif;
}



h1 {
  font-size: 3vh;
  text-align: center;
  
}

textarea {
  display: block;
  width: 90%;
  margin: 3vh auto;
  font-family: 'Montserrat', sans-serif;
  box-shadow: inset 0 4px 11px 1px rgba(0, 0, 0, 0.226);
  border: none;
}

li {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  margin: 2vh auto;
  width: 80%;
  padding: 3vh;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.226);
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
}

button {
  display: block;
  margin: 2vh auto;
  background-color: rgb(82, 136, 253);
  border: none;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.39);
  font-family: 'Montserrat', sans-serif;
}

nav {
  color: #ff7a7a;
  margin:  auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: rgba(255, 255, 255, 0.219);
  padding: 0 5vh 0 5vh;
  border-radius: 20px;
}

nav > a {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 1vh 1vh 1vh 1vh;
  
}

nav > a:active {
  width: 9.5vh;
  height: 11.75vh;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.164);
}

p {
  font-size: 1.5vh;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  text-align: center;
}

button {
  z-index: 2;
}
