body {
  background-image: url('https://i.imgur.com/9NiXKv0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  border-radius: 50%;
  height: 20vh;
  display: block;
  
  margin: 5vw auto;
  
}

header {
  display: block;
  color: #000000;
  margin: 10vh auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  text-align: center;
  z-index: 1;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: rgba(44, 111, 212, 0);
  padding: 0 5vh 0 5vh;
  border-radius: 20px;
}

a {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

nav {
  color: #ff7a7a;
  margin:  auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: rgba(254, 254, 254, 0.194);
  padding: 0 5vh 0 5vh;
  border-radius: 20px;
}
nav > a {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 1vw;
  padding: 1vh 1vh 1vh 1vh;
}

nav > a:active {
  width: 9.5vh;
  height: 11.75vh;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.164);
  /* Lowering the shadow */
}

input {
  border: none;
  box-shadow: inset 0 4px 11px 1px rgba(0, 0, 0, 0.164);
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: auto;
  width: 30vh;
  height: 5vh;
  


  
}

#userbutt,
#picbutt {
  background-color: #dcbbfa;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.164);
  margin: 2vh auto;
  font-size: 3vh;

}

#userform {
  margin: 0 0 15vh 0;

}

P {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3vh;
}
