html {
  height: 100%;
}


body {
  background-image: url('https://i.imgur.com/9NiXKv0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}

.login img {
  height: 30px;
}

#inputimg {
  position: absolute;
  height: 250vh;
  width: 95%;
  margin: 2% 2% 2% 2%;
  z-index: -1;
}
#landing {
  background-color: rgba(255, 255, 255, 0.219);
  width: 80%;
  margin: 10vh 0 0 8vw;
  padding: 2vw;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  border: 1px solid white;
  height: 60vh;
  border-radius: 20px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 1fr;





}




h3,
h1,
p {

  font-family: 'Montserrat', sans-serif;
 
  z-index: 1;
  

 
  
}

h1 {
  font-size: 5vh;
  
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
 
  
}

p {
  font-size: 2.5vh;
  
  
 
  

}
#agreement {
  grid-row: 2;
  grid-column: 2;

  
  background-size: 150px;
  font-size: 1.2rem;
  
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 0.452);
  border-radius: 20px;
  margin: auto;
}
h3 {
  font-size: 12px;
  
  text-align: center;
  margin: auto;
}
#data {
  position: fixed;
  margin: 65vh auto;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
  
}

li {
  margin: 0 0 0 -5vh;
  text-align: center;
  list-style: none;
  background-color: rgba(240, 248, 255, 0);
  font-family: 'Montserrat', sans-serif;
  
}

#smile {
  position: absolute;
  top: -15vh;
  font-size: 10vh;
  right: 18vh;
}
#mission {
  background-color: rgba(255, 255, 255, 0);
  padding: 2vh;
  border-radius: 20px;
  grid-column: 1;
  grid-row: 2/3;
  
  margin: auto;
  text-align: center;
  background-size: 140px;
  
  font-size: 1.2rem;

}

nav {
  color: #7affb6;
 
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
 
  z-index: 1;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 20px;
  width: 100%;
}
nav > a {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
 

  padding: 1vh 1vh 1vh 1vh;
}

nav > a:active {
  width: 9.5vh;
  height: 11.75vh;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.164);
  /* Lowering the shadow */
}
