html {
  height: 100%;
}
  
body {
  background: linear-gradient(rgb(227, 86, 240),pink);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(184,197,250);
  margin:0;
}

nav {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: auto;
  justify-content:space-evenly;
  z-index: 1;
  width: 90%;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  background-color:rgb(222, 255, 5);
}

nav > a {
  margin: auto;
  color: rgb(43, 48, 48);
  text-decoration: none;
  font-size: 12px;
 }

nav > a:hover {
color: rgb(135, 135, 135);
}

#detail-container {
  background-color: white;
  height: 100%;
  width: 75%;
  margin:auto;
  padding-top: 3.5vh;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.459);
  font-family: 'Inter', sans-serif;
  padding-bottom: 10vh;
}

#show-text {
  text-align:center;
  width: 90%;
  margin: 5vh auto;
  display:flex;
  flex-direction: column;
}

#user-info {
  display:flex;
  flex-direction: row;
  grid-gap: 3vh;
  align-items: center;
}

#secret-user {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

#time {
  font-size: 14px;
  color: grey;
}

textarea {
  width: 96%;
  height: 5vh;
  background: linear-gradient(rgb(198, 244, 237),rgb(189, 189, 249));
  border: none;
  font-size: 15px;
  border-radius: 40px;
  padding: 2vh;
  margin-bottom: 1vh;
}

#input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#url {
  width: 68%;
  height: 2vh;
  background: linear-gradient(to right, rgb(0, 0, 0),rgb(211, 211, 224));
  border: none;
  font-size: 15px;
  border-radius: 32px;
  padding: 2vh;
}

#post-button {
  background-color: rgb(125, 117, 245);
  width: 24%;
  border-radius: 32px;
  border: none;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.308);
  height: 5vh;
  margin: .5vh;
  color: white;
}

#forms-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

#submission-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

#comment-container {
  border-top: 1px rgb(234, 5, 255) solid;
  margin: 3vh auto;
  width: 90%;
  border-bottom:1px rgb(234, 5, 255) solid;
}

#comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#comment-user {
  font-size: 12px;
  font-family: helvetica;
  text-decoration: none;
  color: black;
}

#comment-time {
  font-size: 11px;
  font-family: helvetica;
  color: grey;
}

#comment-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  font-family: helvetica;
  margin-bottom: 5vh;
}

#comment {
  margin: auto;
  width: 100%;
  word-break: break-word;
  color: rgb(75, 74, 74);
}

#comment-image {
  width:20vh;
  margin-top:5vh;
}

#delete {
  float: right;
  background-color: white;
  border:none;
  color: red;
  cursor: pointer;
}




::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}


::-webkit-scrollbar-thumb {
  background: rgb(254, 173, 173);
  border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 255, 5);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1;
  padding: 1vh; /* Firefox */
}

textarea::placeholder{
  color: black;
}













