<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Secrets make friends</title>
    <link rel="stylesheet" href="/stylesheets/stylenew.css" />
  </head>
  <body>
    <div id="new-container">
      <nav>
        <% if (user) { %>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
        <a href="/auth/google" class="login"
          >LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"
        /></a>
        <% } %>
        <a href="/secrets">SECRETS</a>
        <a href="/profile/<%= user._id %>">YOUR PROFILE</a>
        <a href="/profile/<%=user._id%>/edit">EDIT PROFILE</a>
      </nav>
      <div id="new">
        <div id="new-text">
          <h1 id="new-title">Secrets Make Friends</h1>
          <h2 id="new-greeting">Hello, <%= user.name %>! </h2>
        </div>
        <div id="secret-form">
          <form action="/secrets" method="POST" autocomplete="off">
            <textarea
              id="secretsinput"
              name="yourSecret"
              required
              maxlength="1000"
              placeholder="Spill the..."
            ></textarea>
            <button id="tea">TEA</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
