<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap" rel="stylesheet">
    
    <link rel='stylesheet' href='/stylesheets/styleshow.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav> <% if (user) { %>
  
        <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
        <a href="/secrets">SECRETS</a>
        <a href="/secrets/new">HOME</a>
    
        </nav>
        <h1><%= secrets.yourSecret %></h1>
        <div id="commentwrapper">


        <form id="add-comment" method="POST" action="/secrets/<%= secrets._id %>/comments">
            <textarea id="comments" name="comments" rows="6" cols="50" required maxlength="1000" placeholder="comment here"></textarea>
            <button id="post">POST</button>
        </form><br>
        <% secrets.comments.forEach((comment) => { %>
            <label>Comment:

            <p><%= comment.comments %></p>
          
           
        <%}) %>
        </label>
        </div>
</body>
</html>